{% extends 'base.html' %}

{% block title %}Home - Blood Donor System{% endblock %}

{% block content %}
<section class="hero is-danger is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-size-2">Щиро раді вітати в нашому Банку Крові</h1>
            <p class="subtitle is-size-4">Допоможи зберегти життя зробивши дотацію чи запит на кроводачу!</p>
        </div>
    </div>
</section>

<div class="columns is-centered mt-5">
    <div class="column is-half">
        <div class="box has-text-centered">
            <h3 class="title is-4">Стати донором</h3>
            <p>Твоя дотація може зберегти життя. Реєструйся зараз та пусти кров!</p>
            <a href="#" class="button is-danger is-fullwidth">Пустити кров</a>
        </div>
    </div>

    <div class="column is-half">
        <div class="box has-text-centered">
            <h3 class="title is-4">Потрібна кров?</h3>
            <p>Зроби запит в нашому банку крові.</p>
            <a href="#" class="button is-danger is-fullwidth">Потрібна кров</a>
        </div>
    </div>
</div>
{% endblock %}
